.rodape__cadastro-noticias {
    padding: 2rem 1rem;
    background-color: var(--cor__fundo--padrao2);
  }
    .rodape__cadastro-noticias--container {
        text-align: left;
    }
    .rodape__cadastro-noticias--titulo {
      font-size: 1.8rem;
      font-weight: 700;
      margin-bottom: 1.5rem;
      line-height: 2.5rem;
    }
    .rodape__cadastro-noticias--texto {
      font-weight: 400;
      margin-bottom: 1.5rem;
      line-height: 2rem;
    }
    .rodape__cadastro-noticias--formulario {
      width: 100%;
    }
      .cadastro-noticias__input-email--container {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 4rem;
        font-size: 1.2rem;
        text-align: center;
        color: var(--cor__fonte--especial);
        background: transparent;
        border: 1px solid var(--cor__fonte--especial);
        border-radius: 3rem;
        box-sizing: border-box;
      }
        .input-email__container--icone {
          padding: 0em 1em;
          height: 2em;
        }
        
        .input-email__container--label {
          width: 100%;
          padding-right: 1em;
          height: auto;
        }
          .container__label--campo {
            width: 100%;
            height: 2rem;
            padding: 0rem;
            color: var(--cor__fonte--especial);
            font-size: 1.2rem;
            background: transparent;
            border: none;
            outline: none;
            box-sizing: border-box;
          }
            .container__label--campo::placeholder {
              color: var(--cor__fonte--especial);
              opacity: 1;
              font-size: 1.2rem;
              font-weight: 500;
            }

@media screen and (min-width: 428px) {
  .cadastro-noticias__input-email--container {
    font-size: 1.4rem;
  }
  .container__label--campo {
    font-size: 1.4rem;
  }
  .container__label--campo::placeholder {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 768px) {
    .rodape__cadastro-noticias {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 4rem 0rem;
      }
        .rodape__cadastro-noticias--container {
            width: 37.5%;
        }
        .rodape__cadastro-noticias--titulo {
          font-size: 2.4rem;
          font-weight: 500;
        }
        .rodape__cadastro-noticias--texto {
          font-weight: 400;
          margin-bottom: 1.5rem;
          line-height: 2rem;
        }
        .rodape__cadastro-noticias--formulario {
          width: 37.5%;
        }
        .cadastro-noticias__input-email--container {
          font-size: 1.6rem;
        }
        .container__label--campo {
          font-size: 1.6rem;
        }
        .container__label--campo::placeholder {
          font-size: 1.6rem;
        }
}
@media screen and (min-width: 1024px) {
  .rodape__cadastro-noticias {
    width: 80%;
    margin: auto;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1280px) {
  .rodape__cadastro-noticias {
    padding: 6rem 0rem;
  }
}