.cabecalho__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor__fundo--padrao2);
    width: 100vw;
    min-height: 60px;
    height: 60px;
    max-height: 30vh;
    padding: 0rem;
    position: fixed;
    top: 0;
    z-index: 3;
    transition: top ease-in-out 500ms;
}
    .cabecalho__menu-esconde {
      top: -50%;
    }
    .cabecalho__menu--icones {
        height: 100%;
        padding: .5rem;
        box-sizing: border-box;
    }
      .menu__icones--texto {
        display: none;
      }
    .cabecalho__menu--icone-hamburger {
      height: 100%;
      box-sizing: border-box;
    }
    .cabecalho__menu--hamburger {
        height: 100%;
        background: #fff no-repeat center / cover;
        padding: 1rem;
        box-sizing: border-box;
    }
        .cabecalho__menu--hamburger.ativo {
          background: url(../../img/Frame_20.svg) no-repeat center / cover;
        }
        .menu__hamburger--botao {
            padding: 0rem;
            margin: 0rem;
            height: inherit;
            border: none;
            background-color: inherit;
            cursor: pointer;
        }

    .cabecalho__menu--primario {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
    }
        .menu__primario--logo {
            padding: 1rem .5rem;
            box-sizing: border-box;
        }
        .menu__primario--logo-link {
          display: flex;
          flex-direction: row;
          align-items: center;
          text-decoration: none;
          font-size: 3rem;
          height: 100%;
        }
        .menu__primario--logo-texto {
            display: none;
            color: var(--cor__fonte--padrao1);
        }
    
    .cabecalho__menu--meio {
      display: none;
      height: 100%;
    }
      .menu__meio--categorias {
        height: inherit;
        cursor: pointer;
      }
      .menu__meio--categorias:hover,
      .menu__meio--categorias:focus-within {
          background: url(../../img/Frame_20.svg) no-repeat center / cover;
          outline: none;          
        }
        .menu__meio--categorias:hover p,
        .menu__meio--categorias:focus-within p {
            color: var(--cor__fundo--padrao2);
          }
            .menu__meio--categorias:hover .menu__meio--divisao > nav,
            .menu__meio--categorias:focus .menu__meio--divisao > nav {
              display: initial;
            }

      .menu__meio--item {
        text-transform: uppercase;
        display: inline-block;
        padding: 0rem 2rem;
      }
      .meio__item--link {
        display: flex;
        align-items: center;
        height: inherit;
        color: var(--cor__fonte--padrao1);
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: 500;
      }

    .cabecalho__menu--secundario {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0rem .5rem;
        height: 100%;
        box-sizing: border-box;
    }
        .menu__secundario--link {
            display: flex;
            align-items: center;
            height: 75%;
            color: inherit;
            text-decoration: none;
        }

@media screen and (min-width: 428px) {
  .cabecalho__menu {
    height: 80px;
  }
    .cabecalho__menu--icones {
        height: 75%;
        padding: .5rem 1rem;
    }
    .cabecalho__menu--hamburger {
        height: 100%;
        background: #fff no-repeat center / cover;
        padding: 1.5rem;
    }
        .menu__primario--logo {
            padding: .5rem 1rem;
        }
    .cabecalho__menu--secundario {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0rem 1rem;
        box-sizing: border-box;
    }
        .cabecalho__menu--secundario a {
            height: 100%;
        }
}
@media screen and (min-width: 768px) {
    .menu__primario--logo-texto {
        display: inline-block;
        color: var(--cor__fonte--padrao1);
    }
}
@media screen and (min-width: 1024px) {
  .cabecalho__menu {
    justify-content: space-around;
  }
    .cabecalho__menu--icones {
      padding: 1rem;
    }
    .menu__primario--logo {
      padding: 1rem 1rem 1rem 0rem;
    }
    .cabecalho__menu--hamburger {
      display: none;
    }
    .cabecalho__menu--meio {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .cabecalho__menu--secundario {
      min-width: 15%;
      padding: 0rem;
    }
      .cabecalho__menu--secundario a:first-child {
        display: none;
      }

}
@media screen and (min-width: 1280px) {
  .cabecalho__menu {
    height: 6.25rem;
  }
    .cabecalho__menu--icones {
        height: 100%;
    } 
      .menu__icones--texto {
        display: initial;
      }
  .cabecalho__menu--secundario {
    min-width: 27.5%;
    padding: 0rem;
  }
}