.rodape {
  background-color: var(--cor__fundo--padrao2);
  font-size: 1.6rem;
  color: var(--cor__fonte--especial);
}
  
  .rodape__divisor {
    border-top: 0.1rem solid var(--cor__fonte--submenu);
    margin: 0px;
  }
  
@media screen and (min-width: 428px) {

}
@media screen and (min-width: 768px) {

}
@media screen and (min-width: 1024px) {

}
@media screen and (min-width: 1280px) {
  
}