.cabecalho__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor__fundo--padrao2);
    width: 100vw;
    height: 60px;
    padding: 0rem;
    position: fixed;
    top: 0;
    z-index: 2;
}
    .cabecalho__menu--icones {
        height: 100%;
        padding: .5rem;
        box-sizing: border-box;
    }
    .cabecalho__menu--icone-hamburger {
      height: 100%;
      box-sizing: border-box;
    }
    .cabecalho__menu--hamburger {
        height: 100%;
        background: #fff no-repeat center / cover;
        padding: 1rem;
        box-sizing: border-box;
    }
        .cabecalho__menu--hamburger.ativo {
            background: url(../../img/Frame_20.svg) no-repeat center / cover;
        }
        .menu__hamburger--botao {
            padding: 0rem;
            margin: 0rem;
            height: inherit;
            border: none;
            background-color: inherit;
            cursor: pointer;
        }

    .cabecalho__menu--primario {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
    }
        .cabecalho__menu--primario a {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-decoration: none;
            font-size: 3rem;
        }
        .menu__primario--logo {
            padding: 1rem .5rem;
            box-sizing: border-box;
        }
        .menu__primario--logo-link {
            height: 100%;
        }
        .menu__primario--logo-texto {
            display: none;
            color: var(--cor__fonte--padrao1);
        }
    
    .cabecalho__menu--meio {
      display: none;
    }
      .menu__meio--item {
        text-transform: uppercase;
        display: inline-block;
        padding: 0rem 2rem;
      }
      .meio__item--link {
        color: var(--cor__fonte--padrao1);
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: 500;
      }

    .cabecalho__menu--secundario {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0rem .5rem;
        height: 100%;
        box-sizing: border-box;
    }
        .cabecalho__menu--secundario a {
            display: flex;
            align-items: center;
            height: 75%;
        }

@media screen and (min-width: 428px) {
  .cabecalho__menu {
    height: 80px;
  }
    .cabecalho__menu--icones {
        height: 75%;
        padding: .5rem 1rem;
    }
    .cabecalho__menu--hamburger {
        height: 100%;
        background: #fff no-repeat center / cover;
        padding: 1.5rem;
    }
        .menu__primario--logo {
            padding: .5rem 1rem;
        }
    .cabecalho__menu--secundario {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0rem 1rem;
        box-sizing: border-box;
    }
        .cabecalho__menu--secundario a {
            height: 100%;
        }
}
@media screen and (min-width: 768px) {
    .menu__primario--logo-texto {
        display: inline-block;
        color: var(--cor__fonte--padrao1);
    }
}
@media screen and (min-width: 1024px) {
  .cabecalho__menu {
    justify-content: space-around;
  }
    .cabecalho__menu--icones {
      padding: 1rem;
    }
    .menu__primario--logo {
      padding: 1rem;
    }
    .cabecalho__menu--hamburger {
      display: none;
    }
    .cabecalho__menu--meio {
      display: inline-block;
    }
    .cabecalho__menu--secundario {
      min-width: 15%;
      padding: 0rem;
    }
      .cabecalho__menu--secundario a:first-child {
        display: none;
      }

}
@media screen and (min-width: 1240px) {
  .cabecalho__menu {
    height: 5rem;
  }
    .cabecalho__menu--icones {
      height: 100%;
  }
}