.cabecalho__submenu {
    width: 100vw;
    max-height: 65vh;
    font-size: 1.8rem;
    font-weight: 500;
    box-sizing: border-box;
    position: fixed;
    top: 60px;
    left: 0px;
    background: var(--cor__fundo--padrao2);
    box-shadow: 0rem .25rem .25rem .25rem #00000021;
    transition: all 2s;
    z-index: 2;
    overflow: scroll;
}
    .cabecalho__submenu--lista {
        text-align: center;
    }
        .submenu__lista--titulo {
            color: var(--cor__fonte--destaque);
            text-transform: capitalize;
            font-weight: 700;
            padding: 2rem 1.5rem;
        }
        .submenu__lista--item {
            text-transform: uppercase;
        }
            .submenu__lista--item:hover,
            .submenu__lista--item:focus-within {
                background: url(../../img/Frame_20.svg) no-repeat center / cover;
            }
                .submenu__lista--item:hover .lista__item--submenu-link,
                .submenu__lista--item:focus-within .lista__item--submenu-link {
                    color: var(--cor__fonte--padrao2);
                }
            .lista__item--submenu-link {
                display: flex;
                justify-content: center;
                padding: 2rem 1.5rem;
                color: var(--cor__fonte--especial);
                text-decoration: none;
                height: 100%;
                width: 100%;
                font-size: 1.6rem;
                box-sizing: border-box;
            }

    .menu__meio--divisao {
        position: relative;
        margin: -2rem;
    }
        .menu__meio--submenu {
            display: none;
            position: fixed;
            box-sizing: border-box;
            width: auto;
            background: var(--cor__fundo--padrao2);
            top: 8rem;
            z-index: 3;
        }
        .menu__meio--submenu {
            box-sizing: border-box;
        }
            .meio__submenu--lista {
                text-transform: uppercase;
            }
            .submenu__lista--item-meio {
                padding: 0rem;
            }
                .submenu__lista--item-meio:hover {
                    color: var(--cor__fonte--padrao2);
                    background: url(../../img/Frame_20.svg) no-repeat center / cover;
                }
                .lista__item-meio--submenu-link {
                    display: block;
                    padding: 2rem;
                    color: var(--cor__fonte--especial);
                    text-decoration: none;
                    height: inherit;
                    width: 100%;
                    box-sizing: border-box;
                }
                .submenu__lista--item-meio:hover .lista__item-meio--submenu-link {
                    color: var(--cor__fonte--padrao2);
                    outline: none;
                }
            .meio__submenu--titulo a {
                height: auto;
                color: var(--cor__fundo--padrao2);
            }    

@media screen and (max-width: 427px) {
    .submenu__lista--item-meio:focus {
        color: var(--cor__fonte--padrao2);
        background: url(../../img/Frame_20.svg) no-repeat center / cover;
    }
    .submenu__lista--item-meio:focus .lista__item-meio--submenu-link {
        color: var(--cor__fonte--padrao2);
        outline: none;
    }
}
@media screen and (min-width: 428px) {
    .cabecalho__submenu {
        width: 70vw;
        top: 80px;
    }
        .cabecalho__submenu--lista {
            text-align: left;
        }
        .lista__item--submenu-link {
            justify-content: flex-start;
        }
            .submenu__lista--titulo {
                text-align: left;
            }
}
@media screen and (min-width: 768px) {
    .cabecalho__submenu {
        width: 40vw;
    }
}
@media screen and (min-width: 1024px) {
    
}
@media screen and (min-width: 1280px) {
    .cabecalho__submenu {
        width: 70vw;
        top: 8rem;
    }
    .menu__meio--submenu {
        top: 6.25rem;
    }
}