.principal__topicos {
  padding: 3rem 1rem 2rem 1rem;
  color: var(--cor__fonte--padrao2);
  background: url(../../img/Frame_20.svg) no-repeat center / cover;
  box-sizing: border-box;
}
  .principal__topicos--titulo {
    font-size: 1.6rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 3rem;
  }
  .principal__topicos--lista {
    text-align: center;
  }
    .topicos__lista--item {
      display: inline-block;
      background-color: var(--cor__fundo--destaque);
      height: 2rem;
      padding: 1.5rem 2.5rem;
      margin: 0rem 1rem 1rem 0rem;
    }
      .topicos__lista--item:nth-child(7) a {
        text-transform: uppercase;
      }
      .lista__item--link {
        display: flex;
        align-items: center;
        height: inherit;
        color: var(--cor__fonte--padrao2);
        font-size: 1.4rem;
        font-weight: 700;
        text-transform: capitalize;
        text-decoration: none;
      }
      
@media screen and (min-width: 428px) {
  
}
@media screen and (min-width: 768px) {
  .principal__topicos--lista {
    width: 75%;
    margin: auto;
  }
}
@media screen and (min-width: 1024px) {
  .principal__topicos--lista {
    width: 60%;
    margin: auto;
  }
}
@media screen and (min-width: 1240px) {
  .principal__topicos--lista {
    width: 45%;
    margin: auto;
  }
}
      